<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <main class="p-6 flex flex-col min-h-screen">
      {{content | safe}}
    </main>
  </body>
</html>
